body {
    margin: 0;
    background: #222;
    color: white;
    font-family: 'Comfortaa', sans-serif;
    overflow: hidden;
}

header, footer {
    background-color: #3a3a3a;
    position: fixed;
    width: 100%;
    color: white;
    text-align: center;
    z-index: 10;
}

header {
    top: 0;
    padding: 15px;
    margin-bottom: 20px;
}

footer {
    bottom: 0;
    padding: 15px;
}

.credits-container {
    position: absolute;
    top: 60px; /* высота header */
    bottom: 60px; /* высота footer */
    width: 100%;
    overflow: hidden;
}

.credits {
    position: absolute;
    bottom: -100%;
    width: 100%;
    animation: scroll-up 90s linear infinite;
    text-align: center;
    font-size: 20px;
    line-height: 1.8;
    padding: 0 20px;
}

@keyframes scroll-up {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(-100%);
    }
}
